body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 30%;
    width: 40%;
    border: 3px solid gray;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    color: blue;
    text-align: center;
    margin-top: 40px;
}